.btn{
  background-color: transparent;
  border: .8px solid rgb(83, 100, 113);
  padding: .5rem 1rem;
  border-radius: 1rem;
  cursor: pointer;
}

.btn span{
  font-size: .8125rem;
  font-weight: 700;
  line-height: 1rem;
  text-overflow: ellipsis;
}

.follow{
  background-color: rgb(239, 243, 244);
  color: #111213 ;
}
.follow:hover{
  background-color: rgb(221, 222, 222);
}

.following{
  width: 8.4375rem;
  background-color: transparent;
}

.following:hover{
  width: 8.4375rem;
  border-color: rgb(211, 53, 66);
  color: rgb(211, 53, 66);
}

