section{
  width: 100%;
  max-width: 21.75rem;
  display: flex;
  background-color: rgb(38, 41, 46);
  flex-direction: column;  
  border-radius: 1rem
}
section h2{
  padding-block: .8rem;
  padding-inline: 1.5rem;
}

section a{
  width: 100%;
  padding-inline: 1.5rem;
  padding-block: 1rem;
  color: rgb(49, 49, 204);
  font-size: .825rem;
  border-radius: 0 0 1rem 1rem;
}

ul{
  width: 100%;
  text-decoration: none;
  list-style: none;

}
section a:hover{
  background-color: rgb(55, 58, 66);
}


