.card{
  position: relative;
  min-width: 21.75rem;
  padding-inline: 1rem;
  padding-block: .5rem;

}

.card:hover{
  background-color: rgb(55, 58, 66);
  cursor: pointer;
}

.avatar{
  justify-content: start;
  gap: .5rem;
}

